.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

@media screen and (max-width: 1330px) {
  .footer {
    display: none;
  }
}

.footer a {
  color: inherit;
}
